doctype html 

html(lang="en")
    head
        title Mayank Chauhan
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='/dist/styles.css')

    body
        header.row
            .col-md-6.name
                .display-4.d-inline-block.d-md-block Mayank 
                .display-4.d-inline-block.font-weight-bold Chauhan

            .col-md-6.details
                span 
                    a(href='https://www.linkedin.com/in/makchan15/').icons
                        svg
                            use(xlink:href="/dist/img/icons.svg#linkedin")

                span 
                    a(href='https://github.com/MakChan').icons
                        svg
                            use(xlink:href="/dist/img/icons.svg#github")
                //- div mayank.chauhan15@gmail.com



        main.row
            .col-md-6
                section
                    h1.mb-3.mt-5.mt-md-0 Experience

                    div.title Frontend Intern | 
                        a(href = 'https://isitca.com/') ISITCA
                    div.time June 2018 - Present
                    div.desc Working on HTML, CSS, JS and Vue.

                    div.title.mt-3 Frontend Intern | 
                        a(href = 'http://zester.in') Zester
                    div.time April 2018 - Present
                    div.desc Working on Angular/React Projects.


                    div.title.mt-3 Google Developer Group, JSS Noida
                    div.time February 2017 - Present
                    div.desc 
                        | I help organize coding events namely                        
                        | workshops, hackathons, competitions,
                        | and make websites for such events.


                section
                    h1.mt-5.mb-3 Education

                    div.title B.TECH. | 
                        span AKTU
                    div.time 2016 - 2020, Information Technology
                    div.desc JSS Academy of Technical Education, Noida

                    div.title.mt-3 CLASS XII | 
                        span CBSE
                    div.time 2016, 91.2%
                    div.desc Vanasthali Public School, Noida

                    div.title.mt-3 CLASS X | 
                        span CBSE
                    div.time 2014, CGPA: 9.8/10
                    div.desc Vanasthali Public School, Noida


            .col-md-6.pl-md-5

                section
                    h1.mb-3.mt-5.mt-md-0 Skills

                    table
                        tr
                            td.pr Languages
                            td.pl-3 Python, C
                        tr
                            td.pr Web Design
                            td.pl-3 HTML, Pug, CSS, SASS, JavaScript
                        tr
                            td.pr Frameworks
                            td.pl-3 Vue, React, Django, Flask, Angular, Bootstrap, jQuery
                        tr
                            td.pr Tools
                            td.pl-3 Git, Gulp, Webpack, Heroku, Google Cloud
                        tr
                            td.pr Databases
                            td.pl-3 MySQL, SQLite
                section
                    h1.mt-5.mb-3 Projects

                    div.title Noticeboard | 
                        span Django
                    div.desc Website for posting notices for a school or college.
                    div.link 
                        a(href = 'https://github.com/MakChan/noticeboard') github.com/MakChan/noticeboard

                    div.title.mt-3 Mini-Blog | 
                        span Flask
                    div.desc A multi-user blogging application.
                    div.link 
                        a(href = 'https://github.com/MakChan/blog-flask') github.com/MakChan/blog-flask

                    div.title.mt-3 Personal Website | 
                        span Pug, SASS
                    div.desc Portfolio on GitHub Pages.
                    div.link 
                        a(href = 'https://github.com/MakChan/makchan.github.io') github.com/MakChan/makchan.github.io



        footer
            div Made with 
                svg.heart
                    use(xlink:href="/dist/img/icons.svg#heart")    
                | and  
                svg
                    use(xlink:href="/dist/img/icons.svg#coffee")    
                | by Mayank Chauhan










