// Resources

@font-face {
  font-family: Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/dist/fonts/Sans.woff2) format("woff2"),
    url(/dist/fonts/Sans.ttf) format("truetype");
}

// Variables

$primary-color: #77448a;
$sec-color: #4b4b4b;
$dark: #424242;

// Reboot

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &:hover {
    text-decoration: underline;
  }
}

svg:not(:root) {
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

footer,
header,
main,
section {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

// Main stlyes

body {
  font-family: "Sans", Roboto, "Helvetica Neue", "Helvetica", "Garamond";
  max-width: 992px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

header {
  padding: 0 3rem;
  min-height: 9rem;
  background: #f7f7f7;
  border-top: 0.5rem solid $dark;
}

.icons {
  color: $sec-color;
}
.name {
  margin-top: auto;
  text-transform: uppercase;

  & > div:nth-of-type(2) {
    background: $dark;
    color: #fff;
  }
}

.details {
  bottom: 0;
  margin-top: auto;
  text-align: right;

  div {
    padding-bottom: 2px;
  }
  a {
    color: $dark;
  }
  a:hover {
    color: $primary-color;
  }
  svg {
    width: 19px;
    height: 19px;
    margin-left: 15px;
  }
}

main {
  padding: 0 3rem;
  padding-top: 30px;

  h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1:after {
    content: "";
    display: block;
    background: $primary-color;
    height: 4px;
    width: 15%;
  }

  div.ob-desc {
    font-size: 22px;
    line-height: 1.7rem;
  }

  div.title {
    font-size: 22px;
    color: $primary-color;
    font-weight: 600;

    a,
    span {
      color: $sec-color;
    }

    a {
      text-decoration: underline;
    }
  }

  div.time {
    font-size: 20px;
  }

  div.desc {
    color: $sec-color;
    line-height: 1.7rem;
  }

  div.link a {
    color: $primary-color;
  }

  td {
    padding: 2px;
    padding-bottom: 10px;
    font-size: 20px;
    vertical-align: top;
  }

  .pr {
    color: $primary-color;
  }
}

footer {
  min-height: 5rem;
  margin-top: 5rem;
  color: #d9d9d9;
  text-align: center;
  background-color: $dark;

  & > div {
    padding-top: 2rem;
    font-size: 1rem;
  }

  svg {
    width: 19px;
    height: 19px;
    vertical-align: middle;
    color: inherit;
    margin: 0 4px;
  }
}

.heart {
  width: 17px !important;
  height: 17px !important;
}

@media (max-width: 576px) {
    header, main {
        padding: 0 1.5rem;
    }
    .details {
        margin-top: 1rem;
    }
}

// Utilities
.d-inline-block {
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col-md-6 {
    position: relative;
    width: 100%;
  }
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

.pl-3 {
  padding-left: 1rem;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .pl-md-5 {
    padding-left: 3rem;
  }

  .mt-md-0 {
    margin-top: 0;
  }

  .d-md-block {
    display: block;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

// Pseudo Styles
::selection {
  background-color: $dark;
  color: #fff;
}

::-moz-selection {
  background-color: $dark;
  color: #fff;
}

::-o-selection {
  background-color: $dark;
  color: #fff;
}

::-ms-selection {
  background-color: $dark;
  color: #fff;
}

::-webkit-selection {
  background-color: $dark;
  color: #fff;
}

// Animations

a:not(.icons) {
  background: linear-gradient(
    to bottom,
    $primary-color 0%,
    $primary-color 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

a:not(.icons):hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000000' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
